@import './variables.module.scss';

.homeSec {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: $primary-color;

    .bannerContent {
        position: absolute;
        max-width: 500px;
        left: 50%;
        top: 92%;
        transform: translate(-50%, -92%);
        text-align: center;

        .bannerTagline {
            @include font-size(20px);
            color: $white-color;
            margin-bottom: 0px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                transform: rotate(-10deg);
                margin-right: 10px;
            }
        }

        h1 {
            @include font-size(35px);
            line-height: 50px;
            color: $white-color;
            font-weight: 400;

            span {
                display: block;
                background: $secondary-color;
                padding: 5px 20px;
                max-width: max-content;
                margin: auto;
                border-radius: 0px 18px 18px 18px;
            }

        }
    }

}

@include media-query(1799px) {
    .homeSec {
        .bannerContent {
            max-width: 500px;
            left: 50%;
            top: 94%;
            transform: translate(-50%, -94%);

            .bannerTagline {
                @include font-size(20px);
                height: 70px;

                svg {
                    margin-right: 10px;
                }
            }

            h1 {
                @include font-size(32px);
                line-height: 45px;

                span {
                    padding: 5px 20px;
                    border-radius: 0px 18px 18px 18px;
                }

            }
        }

    }
}

@include media-query(1599px) {
    .homeSec {
        height: 780px;

        .bannerContent {
            max-width: 500px;
            left: 50%;
            top: 96%;
            transform: translate(-50%, -96%);

            .bannerTagline {
                @include font-size(20px);
                height: 70px;

                svg {
                    margin-right: 10px;
                }
            }

            h1 {
                @include font-size(30px);
                line-height: 42px;

                span {
                    padding: 5px 18px;
                    border-radius: 0px 18px 18px 18px;
                }

            }
        }

    }
}

@include media-query(1399px) {
    .homeSec {
        height: 100vh;

        .bannerContent {
            max-width: 450px;
            left: 50%;
            top: 96%;
            transform: translate(-50%, -96%);

            .bannerTagline {
                @include font-size(18px);
                height: 60px;

                svg {
                    margin-right: 10px;
                }
            }

            h1 {
                @include font-size(28px);
                line-height: 42px;

                span {
                    padding: 5px 15px;
                    border-radius: 0px 15px 15px 15px;
                }

            }
        }

    }
}

@include media-query(1299px) {
    .homeSec {
        height: 720px;

        .bannerContent {
            max-width: 450px;
            left: 50%;
            top: 96%;
            transform: translate(-50%, -96%);

            .bannerTagline {
                @include font-size(17px);
                height: 50px;

                svg {
                    width: 30px;
                    margin-right: 10px;
                }
            }

            h1 {
                @include font-size(26px);
                line-height: 40px;

                span {
                    padding: 5px 15px;
                    border-radius: 0px 15px 15px 15px;
                }

            }
        }

    }
}

@include media-query(1100px) {
    .homeSec {
        height: 580px;

        .bannerContent {
            max-width: 300px;
            left: 50%;
            top: 96%;
            transform: translate(-50%, -96%);

            .bannerTagline {
                @include font-size(15px);
                height: 50px;

                svg {
                    width: 25px;
                    margin-right: 10px;
                }
            }

            h1 {
                @include font-size(21px);
                line-height: 33px;

                span {
                    padding: 5px 15px;
                    border-radius: 0px 15px 15px 15px;
                }

            }
        }

    }
}

@include media-query(800px) {
    .homeSec {
        height: 460px;

        .bannerContent {
            max-width: 230px;
            left: 50%;
            top: 96%;
            transform: translate(-50%, -96%);

            .bannerTagline {
                @include font-size(13px);
                height: 40px;

                svg {
                    width: 22px;
                    margin-right: 5px;
                }
            }

            h1 {
                @include font-size(16px);
                line-height: 26px;
                margin-bottom: 0px;

                span {
                    padding: 5px 5px;
                    border-radius: 0px 12px 12px 12px;
                }

            }
        }

    }
}


@include media-query(666px) {
    .homeSec {
        height: 420px;

        .bannerContent {
            width: 100%;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -60%);
            max-width: 90%;

            .bannerTagline {
                @include font-size(17px);
                height: 60px;

                svg {
                    width: 30px;
                    margin-right: 5px;
                }
            }

            h1 {
                @include font-size(24px);
                line-height: 40px;
                margin-bottom: 0px;

                span {
                    padding: 5px 15px;
                    border-radius: 0px 12px 12px 12px;
                }

            }
        }

    }
}