@import './variables.module.scss';

.competitorsSec {
    h2 {
        span {
            color: $white-color;
            padding: 0px 20px;
            display: flex;
            align-items: center;
            max-width: max-content;


            &.first {
                background: $primary-color;
                display: block;
                margin-bottom: 5px;
            }

            &.last {
                background: $secondary-color;
                display: block;

            }
        }
    }
}

@include media-query(800px) {
    .competitorsSec {
        img {
            height: 300px;
            width: auto;
            margin: auto;
            display: block;
        }
    }
}