@import './variables.module.scss';

.container {
    max-width: $max-container;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a {
        text-decoration: none;
    }

    h1 {}

    h2 {
        @include font-size(50px);
        line-height: 70px;
        font-weight: 600;
        margin-bottom: 50px;

        span {
            color: $primary-color;
        }
    }

    h3 {
        @include font-size(30px);
        line-height: 40px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    h4 {
        @include font-size(20px);
        line-height: 35px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    h5 {
        @include font-size(25px);
        line-height: 35px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    h6 {
        @include font-size(18px);
        line-height: 25px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    P {
        @include font-size(16px);
        line-height: 25px;
        font-weight: 400;
        margin-bottom: 20px;
        color: $text-color;
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .bordreLine {
        margin-bottom: 50px;
    }

    .modal-content {
        border-radius: 20px;
        background: transparent;
    }

    .modal-backdrop {
        --bs-backdrop-opacity: 0.9;
    }
}